<body>

    <%- include('./partials/nav.ejs') %>
 
     <div class="blogs content">
         <h2>All Blogs</h2>
 
         <% if (categories.length > 0) { %>
             <% categories.forEach(blog => { %>
                 <a class="single" href="/categories/<%= blog._id %>">
                     <h3 class="title"><%= blog.title %></h3>
                     <p class="snippet"><%= blog.snippet %></p>
                 </a>
             <% }) %>
         <% } %>
 
     </div>
 
     <%- include('./partials/footer.ejs') %>
     
 </body>
